@model WeRentCar123.Models.VehicleRental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleRental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleRentalRegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleRentalRegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentFromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentFromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyRentalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRentalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleRentalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
