@model WeRentCar123.Models.VehicleBrand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleBrand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandIntroductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandIntroductionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleBrandID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
